<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Statements</title>
</head>
<body>
    <center>
        <h1>Conditional Statements</h1>
        <!-- <h2>If Statement</h2>
        {% if a > 100 %}
          <h2>100 is bigger than :{{ a }}</h2>
          {% endif %} -->
          <!-- <h2>
            If Else condition
          </h2>
          {% if a > b %}
          <h2> max:{{ a }}</h2>
          {% else %}
          <h2>max:{{ b }}</h2>
          {% endif %} -->
          <h2>if elif condition</h2>
          {% if a > b %}
          <h3> b greater than:{{ a }}</h3>
          {% elif b > c %}
          <h3>c greater than :{{ b }}</h3>
          {% else %}
          <h2>a & b are greater than :{{ c }} </h2>
          {% endif %}
    </center>
    
</body>
</html>